[submodule "Assets/RESTClient"]
	path = Assets/RESTClient
	url = https://github.com/Unity3dAzure/RESTClient
[submodule "Assets/AzureServices"]
	path = Assets/AzureServices
	url = https://github.com/Unity3dAzure/StorageServices
